.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogItems a {
	padding: 10px;
	color: white;
	text-decoration: none;
}

.dialogItems a:visited {
	color: white;
}

.dialogItems .active a {
	color: gold;
}

.messages {
	padding: 10px;
}

.messages .message {
	color: white;
}

